<div class="table-container">

    <div class="filter-container">
        <div class="create-btn-container">
            <button mat-raised-button type="button" color="primary" (click)="openCreateAuthor()"><mat-icon>add</mat-icon>Autor erstellen</button>
        </div>
        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter" (keydown.escape)="clear()">
            <button *ngIf="value" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="row-counter">Anzahl: {{rowCount()}}</div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- internal id -->
        <ng-container matColumnDef="internalID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Interne ID</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="intID" (click)="intID.open()">{{element.internalID}}</div>
                <sat-popover #intID hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="intID.isOpen()" [value]="element.internalID" [type]="'string'" (newValue)="updateProperty($event,'internalID', element, intID)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- first name column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="fn" (click)="fn.open()">{{element.firstName}}</div>
                <sat-popover #fn hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="fn.isOpen()" [value]="element.firstName" [type]="'string'" (newValue)="updateProperty($event,'firstName', element, fn)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- last name column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="ln" (click)="ln.open()">{{element.lastName}}</div>
                <sat-popover #ln hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="ln.isOpen()" [value]="element.lastName" [type]="'string'" (newValue)="updateProperty($event,'lastName', element, ln)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- description column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="des" (click)="des.open()">{{element.description}}</div>
                <sat-popover #des hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="des.isOpen()" [value]="element.description" [type]="'string'" (newValue)="updateProperty($event,'description', element, des)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- birth date column -->
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Geburtsjahr</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="bd" (click)="bd.open()">{{element.birthDate}}</div>
                <sat-popover #bd hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="bd.isOpen()" [value]="element.birthDate" [type]="'number'" (newValue)="updateProperty($event,'birthDate', element, bd)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- death date column-->
        <ng-container matColumnDef="deathDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Todesjahr</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="dd" (click)="dd.open()">{{element.deathDate}}</div>
                <sat-popover #dd hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="dd.isOpen()" [value]="element.deathDate" [type]="'number'" (newValue)="updateProperty($event,'deathDate', element, dd)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- active date column-->
        <ng-container matColumnDef="activeDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktivitätsperiode</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="ad" (click)="ad.open()"></div>
                <sat-popover #ad hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="ad.isOpen()" [value]="" [type]="'number'"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- order column -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reihenfolge</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="or" (click)="or.open()">{{element.order}}</div>
                <sat-popover #or hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="or.isOpen()" [value]="element.order" [type]="'number'" (newValue)="updateProperty($event,'order', element, or)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- reference column -->
        <ng-container matColumnDef="references">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referenzen</th>
            <td mat-cell *matCellDef="let element">
                <div class="read-only-value">{{element.references}}</div>
            </td>
        </ng-container>

        <!-- button column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="action-btn-container">
                    <button mat-button mat-icon-button color="primary" (click)="edit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button mat-icon-button color="warn" (click)="delete()" [disabled]="element.references !== 0">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
