<div class="dialog-multiple" *ngIf="max!==1">

    <h2>Choose Language</h2>

    <div class="result-container">
        <table class="chosen-data-table">
            <tr class="header-row">
                <th>Name</th>
                <th></th>
            </tr>
            <tr class="data-row" *ngFor="let language of clonedList">
                <td>{{language.name}}</td>
                <td class="delete-cell">
                    <button class="remove-button" (click)="removeLanguage(language.id)">-</button>
                </td>
            </tr>
            <tr class="empty-row" *ngIf="clonedList.length === 0">
                <td colspan="4">No languages added</td>
            </tr>
        </table>
    </div>

    <mat-divider></mat-divider>

    <div class="full-data-container" [class.opened]="addingModus">
        <mat-form-field>
            <input [(ngModel)]="filterWord" matInput placeholder="Filter" (input)="applyFilter($event.target.value)"
                   (keydown.escape)="clear()">
            <button *ngIf="filterWord" mat-button matSuffix mat-icon-button (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="full-data-table-container">
            <table class="full-data-table">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr class="data-row" *ngFor="let language of filteredList">
                    <td>{{language.name}}</td>
                    <td>
                        <button type="button" class="add-button" [disabled]="isUsed(language.id) || hasMaximum()"
                                (click)="addLanguage(language)">+
                        </button>
                    </td>
                </tr>
                <tr class="empty-row" *ngIf="filteredList.length === 0">
                    <td colspan="4">Language list is empty!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="add-btn-container" *ngIf="!addingModus">
        <button mat-flat-button color="accent" (click)="openList()">
            <mat-icon>add</mat-icon>
            Add language
        </button>
    </div>

    <div class="add-btn-container" *ngIf="addingModus">
        <button mat-flat-button color="accent" (click)="closeList()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            Zuklappen
        </button>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!listChanged" (click)="save()">ÜBERNEHMEN
        </button>
    </div>

</div>

<div class="dialog-single" *ngIf="max==1">

    <h2>Choose language</h2>

    <div class="full-data-container">
        <mat-form-field>
            <input [(ngModel)]="filterWord" matInput placeholder="Filter" (input)="applyFilter($event.target.value)"
                   (keydown.escape)="clear()">
            <button *ngIf="filterWord" mat-button matSuffix mat-icon-button (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="full-data-table-container">
            <table class="full-data-table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr class="data-row" *ngFor="let organisation of filteredList" (click)="chooseElement(organisation)">
                    <td>{{organisation.name}}</td>
                </tr>
                <tr class="empty-row" *ngIf="filteredList.length === 0">
                    <td colspan="4">Language list is empty!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!listChanged" (click)="save()">ÜBERNEHMEN</button>
    </div>
</div>
