<div class="table-container">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Organisations</h2>

    <div class="filter-container">
        <div class="create-btn-container">
            <button mat-raised-button type="button" color="primary" (click)="openCreateOrganisation()"><mat-icon>add</mat-icon>Organisation erstellen</button>
        </div>
        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter" (keydown.escape)="clear()">
            <button *ngIf="value" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="row-counter">Anzahl: {{rowCount()}}</div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- name column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Organisation</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="n" (click)="n.open()">{{element.name}}</div>
                <sat-popover #n hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="n.isOpen()" [value]="element.name" [type]="'string'" (newValue)="updateProperty($event,'name', element, n)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- order column -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reihenfolge</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="or" (click)="or.open()">{{element.order}}</div>
                <sat-popover #or hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="or.isOpen()" [value]="element.order" [type]="'number'" (newValue)="updateProperty($event,'order', element, or)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- references column -->
        <ng-container matColumnDef="references">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referenzen</th>
            <td mat-cell *matCellDef="let element">
                <div class="read-only-value">{{element.references}}</div>
            </td>
        </ng-container>

        <!-- button column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="action-btn-container">
                    <button mat-button mat-icon-button color="primary" (click)="editRow(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button mat-icon-button color="warn" (click)="deleteRow(element.id)" [disabled]="element.references !== 0">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
