<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h2>{{getTitle()}}</h2>

        <mat-dialog-content>
            <table>
                <tr>
                    <td class="title-column">Internal ID:</td>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput type="text" formControlName="internalID" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Normalised Titel:</td>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput type="text" formControlName="title" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr class="reference">
                    <td class="title-column">Authors:</td>
                    <td>
                        <mat-chip-list class="mat-chip-list-stacked" *ngIf="authorList.length<MAX_CHIPS">
                            <mat-chip *ngFor="let author of authorList">
                                <mat-chip-avatar>
                                    <mat-icon>account_circle</mat-icon>
                                </mat-chip-avatar>
                                {{author.firstName}} {{author.lastName}}
                                <mat-icon matChipRemove (click)="removeAuthor(author)">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list *ngIf="authorList.length>=4">
                            <mat-chip (click)="addAuthor()">
                                <mat-chip-avatar>
                                    <mat-icon>account_circle</mat-icon>
                                </mat-chip-avatar>
                                {{authorList.length}} ausgewählt ...
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                    <td>
                        <button mat-button mat-icon-button type="button" color="accent" (click)="addAuthor()">
                            <mat-icon>{{addOrEdit(authorList)}}</mat-icon>
                        </button>
                    </td>
                </tr>

                <tr class="reference">
                    <td class="title-column">Venues:</td>
                    <td>
                        <mat-chip-list class="mat-chip-list-stacked" *ngIf="venueList.length<MAX_CHIPS">
                            <mat-chip *ngFor="let venue of venueList">
                                <mat-chip-avatar>
                                    <mat-icon>theaters</mat-icon>
                                </mat-chip-avatar>
                                {{venue.name}}, {{venue.place}}
                                <mat-icon matChipRemove (click)="removeVenue(venue)">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list *ngIf="venueList.length>=4">
                            <mat-chip (click)="addVenue()">
                                <mat-chip-avatar>
                                    <mat-icon>theaters</mat-icon>
                                </mat-chip-avatar>
                                {{venueList.length}} ausgewählt ...
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                    <td>
                        <button mat-button mat-icon-button type="button" color="accent" (click)="addVenue()">
                            <mat-icon>{{addOrEdit(venueList)}}</mat-icon>
                        </button>
                    </td>
                </tr>

                <tr class="reference">
                    <td class="title-column">Organisations:</td>
                    <td>
                        <mat-chip-list class="mat-chip-list-stacked" *ngIf="organisationList.length<MAX_CHIPS">
                            <mat-chip *ngFor="let organisation of organisationList">
                                <mat-chip-avatar>
                                    <mat-icon>business</mat-icon>
                                </mat-chip-avatar>
                                {{organisation.name}}
                                <mat-icon matChipRemove (click)="removeOrganisation(organisation)">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list *ngIf="organisationList.length>=4">
                            <mat-chip (click)="addOrganisation()">
                                <mat-chip-avatar>
                                    <mat-icon>business</mat-icon>
                                </mat-chip-avatar>
                                {{organisationList.length}} ausgewählt ...
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                    <td class="last-row">
                        <button mat-button mat-icon-button type="button" color="accent" (click)="addOrganisation()">
                            <mat-icon>{{addOrEdit(organisationList)}}</mat-icon>
                        </button>
                    </td>
                </tr>

                <tr class="reference">
                    <td class="title-column">Language:</td>
                    <td>
                        <mat-chip-list class="mat-chip-list-stacked" *ngIf="languageList.length<MAX_CHIPS">
                            <mat-chip *ngFor="let language of languageList">
                                <mat-chip-avatar>
                                    <mat-icon>record_voice_over</mat-icon>
                                </mat-chip-avatar>
                                {{language.name}}
                                <mat-icon matChipRemove (click)="removeLanguage(language)">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list *ngIf="languageList.length>=4">
                            <mat-chip (click)="addOrganisation()">
                                <mat-chip-avatar>
                                    <mat-icon>record_voice_over</mat-icon>
                                </mat-chip-avatar>
                                {{languageList.length}} ausgewählt ...
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                    <td class="last-row">
                        <button mat-button mat-icon-button type="button" color="accent" (click)="addLanguage()">
                            <mat-icon>{{addOrEdit(languageList)}}</mat-icon>
                        </button>
                    </td>
                </tr>

            </table>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button type="button" color="primary" (click)="cancel()">ABBRECHEN</button>
            <button [disabled]="form.invalid" mat-flat-button type="submit" color="primary">{{getButtonText()}}</button>
        </mat-dialog-actions>
    </form>
</div>
