<div class="container" fxLayout="column">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Books</h2>

    <div class="search-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start start">
        <mat-card fxFlex.gt-sm="300px">
            <mat-card-content>
                <form [formGroup]="form" fxLayout="column" (ngSubmit)="search()">

                    <table>

                        <tr>
                            <td>
                                <mat-label>Internal ID</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="internalId">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Prefix book title</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="prefBookTitle">
                                <input formControlName="prefbt">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="prefBookTitleNull"
                                              (change)="onChange($event, 'prefBookTitle')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Book title</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="bookTitle">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Edition</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="edition">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Edition hist.</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="editionHist">
                                <input formControlName="eh">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="editionHistNull"
                                              (change)="onChange($event, 'editionHist')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Language</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="language">
                                    <option value="">-</option>
                                    <option *ngFor="let language of languages" [value]="language.id">
                                        {{language.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Genre</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="genre">
                                    <option value="">-</option>
                                    <option *ngFor="let genre of genres" [value]="genre.id">
                                        {{genre.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Subject</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="subject">
                                <select formControlName="sub">
                                    <option value="">-</option>
                                    <option *ngFor="let subject of subjects" [value]="subject.id">
                                        {{subject.name}}
                                    </option>
                                </select>
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="subjectNull"
                                              (change)="onChange($event, 'subject')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Creation Date</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="creationDate">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Publication Date</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="public">
                                <input formControlName="pdate">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="publicNull"
                                              (change)="onChange($event, 'public')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>First Performance Date</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="firstPer">
                                <input formControlName="fpdate">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="firstPerNull"
                                              (change)="onChange($event, 'firstPer')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Book Comment</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="bookComment">
                                <input formControlName="bc">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="bookCommentNull"
                                              (change)="onChange($event, 'bookComment')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Author Name</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="authorName">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Performed by Company</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="performed">
                                <select formControlName="perf">
                                    <option value="">-</option>
                                    <option *ngFor="let company of companies" [value]="company.id">
                                        {{company.hasCompanyTitle}}
                                    </option>
                                </select>
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="performedNull"
                                              (change)="onChange($event, 'performed')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Performed by Actor</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="performedActor">
                                <select formControlName="perfA">
                                    <option value="">-</option>
                                    <option *ngFor="let actor of actors" [value]="actor.id">
                                        <span *ngIf="actor.hasFirstName">{{actor.hasFirstName}}</span> {{actor.hasLastName}}
                                    </option>
                                </select>
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="performedActorNull"
                                              (change)="onChange($event, 'performedActor')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Performed in Venue</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="performedIn">
                                <select formControlName="perfI">
                                    <option value="">-</option>
                                    <option *ngFor="let venue of venues" [value]="venue.id">
                                        {{venue.value}}
                                    </option>
                                </select>
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="performedInNull"
                                              (change)="onChange($event, 'performedIn')">null
                                </mat-checkbox>
                            </td>
                        </tr>

<!--                        <tr>-->
<!--                            <td>-->
<!--                                <mat-label>Extra info</mat-label>-->
<!--                            </td>-->
<!--                            <td></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td formGroupName="extra">-->
<!--                                <input formControlName="ex">-->
<!--                            </td>-->
<!--                            <td class="checkbox">-->
<!--                                <mat-checkbox [color]="'warn'" formControlName="extraNull"-->
<!--                                              (change)="onChange($event, 'extra')">null-->
<!--                                </mat-checkbox>-->
<!--                            </td>-->
<!--                        </tr>-->

                    </table>

                    <div class="buttons">
                        <button class="search-btn" type="submit" mat-flat-button>SEARCH</button>
                        <button class="clear-btn" type="button" mat-flat-button (click)="resetSearch()">Clear search
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

        <div style="border: 1px solid black; width: 100%;">
            Table with the results
        </div>
    </div>

</div>

<!--<div class="table-container">-->

<!--    <a [routerLink]="['/categories']">< back</a>-->
<!--    <h2>List of Books</h2>-->

<!--    <div class="filter-container">-->

<!--        <div class="create-btn-container">-->
<!--            <button mat-raised-button type="button" color="primary" (click)="create()">-->
<!--                <mat-icon>add</mat-icon>-->
<!--                Create book-->
<!--            </button>-->
<!--        </div>-->

<!--        <mat-form-field>-->
<!--            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"-->
<!--                   (keydown.escape)="clearFilter()">-->
<!--            <button *ngIf="value" mat-button matSuffix mat-icon-button (click)="clearFilter()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--            </button>-->
<!--        </mat-form-field>-->

<!--        <div class="row-counter">Amount: {{rowCount()}}</div>-->
<!--    </div>-->

<!--    <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">-->

<!--        <ng-container matColumnDef="detail">-->
<!--            <th mat-header-cell *matHeaderCellDef style="width:1rem;"></th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="action-btn-container">-->
<!--                    <button mat-button mat-icon-button color="primary" (click)="expansion(element)">-->
<!--                        <mat-icon>{{contains(element, expandedElements) ? 'expand_more' : 'chevron_right'}}</mat-icon>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="internalID">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</th>-->
<!--            <td mat-cell *matCellDef="let element"> {{element["internalID"]}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="title">-->
<!--            <th mat-header-cell *matHeaderCellDef>Title</th>-->
<!--            <td mat-cell *matCellDef="let element"> {{element["title"]}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="authors">-->
<!--            <th mat-header-cell *matHeaderCellDef>Autor</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>-->
<!--                    <div *ngFor="let author of element.authors">{{author.firstName}} {{author.lastName}}</div>-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; created date column &ndash;&gt;-->
<!--        <ng-container matColumnDef="createdDate">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Composition</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{getDateFormat(element.createdStartDate, element.createdEndDate)}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; publish date column &ndash;&gt;-->
<!--        <ng-container matColumnDef="publishDate">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Publication</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{getDateFormat(element.publishedStartDate, element.publishedEndDate)}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; order column &ndash;&gt;-->
<!--        <ng-container matColumnDef="order">-->
<!--            <th mat-header-cell *matHeaderCellDef>Reihenfolge</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.order}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; reference column &ndash;&gt;-->
<!--        <ng-container matColumnDef="references">-->
<!--            <th mat-header-cell *matHeaderCellDef>Referenzen</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="read-only-value">{{element.references}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Expanded Content Column - The detail row is made up of this one column that spans across all columns &ndash;&gt;-->
<!--        <ng-container matColumnDef="expandedDetail">-->
<!--            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">-->
<!--                <div class="example-element-detail"-->
<!--                     [@detailExpand]="contains(element, expandedElements) ? 'expanded' : 'collapsed'">Edition: {{element.edition}}-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; button column &ndash;&gt;-->
<!--        <ng-container matColumnDef="action">-->
<!--            <th mat-header-cell *matHeaderCellDef></th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="action-btn-container">-->
<!--                    <button mat-button mat-icon-button color="primary" (click)="edit(element)">-->
<!--                        <mat-icon>edit</mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-button mat-icon-button color="warn" (click)="delete(element.id)"-->
<!--                            [disabled]="element.references !== 0">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"-->
<!--            class="example-element-row"-->
<!--            [class.example-expanded-row]="contains(element, expandedElements)">-->
<!--        </tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
<!--    </table>-->

<!--</div>-->
