<div class="container" fxLayout="column">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Passages</h2>

    <div class="search-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start start">
        <mat-card fxFlex.gt-sm="300px">
            <mat-card-content>
                <form [formGroup]="form" fxLayout="column" (ngSubmit)="search()">

                    <table>

                        <tr>
                            <td>
                                <mat-label>Text</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="text">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Text Hist.</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="textHist">
                                <input formControlName="txh">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="textHistNull"
                                              (change)="onChange($event, 'textHist')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Prefix Displayed Title</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="prefDisplayedTitle">
                                <input formControlName="prefdistit">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="prefDisplayedTitleNull"
                                              (change)="onChange($event, 'prefDisplayedTitle')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Displayed Title</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="displayedTitle">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Page</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="page">
                                <input formControlName="pg">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="pageNull"
                                              (change)="onChange($event, 'page')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Page Hist.</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="pageHist">
                                <input formControlName="pgh">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="pagHistNull"
                                              (change)="onChange($event, 'pageHist')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Research Field</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="research">
                                    <option value="">-</option>
                                    <option *ngFor="let research of researchFields" [value]="research.id">
                                        {{research.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Function</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="function">
                                    <option value="">-</option>
                                    <option *ngFor="let func of functionVoices" [value]="func.id">
                                        {{func.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Marking</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="marking">
                                    <option value="">-</option>
                                    <option *ngFor="let marking of markings" [value]="marking.id">
                                        {{marking.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Status</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="status">
                                    <option value="">-</option>
                                    <option *ngFor="let stat of status" [value]="stat.id">
                                        {{stat.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Internal Comment</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="intComment">
                                <input formControlName="intc">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="intCommentNull"
                                              (change)="onChange($event, 'intComment')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Passage Comment</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="passComment">
                                <input formControlName="pc">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="passCommentNull"
                                              (change)="onChange($event, 'passComment')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Book Title (no prefix)</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="bookTitle">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Sec Book Title (no prefix)</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="secBookTitle">
                                <input formControlName="secbt">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="secBookTitleNull"
                                              (change)="onChange($event, 'secBookTitle')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Contributor</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="contributor">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Lexia</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="lexia">
                                <input formControlName="lex">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="lexiaNull"
                                              (change)="onChange($event, 'lexia')">null
                                </mat-checkbox>
                            </td>
                        </tr>

<!--                        <tr>-->
<!--                            <td>-->
<!--                                <mat-label>Extra info</mat-label>-->
<!--                            </td>-->
<!--                            <td></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td formGroupName="extra">-->
<!--                                <input formControlName="ex">-->
<!--                            </td>-->
<!--                            <td class="checkbox">-->
<!--                                <mat-checkbox [color]="'warn'" formControlName="extraNull"-->
<!--                                              (change)="onChange($event, 'extra')">null-->
<!--                                </mat-checkbox>-->
<!--                            </td>-->
<!--                        </tr>-->

                    </table>

                    <div class="buttons">
                        <button class="search-btn" type="submit" mat-flat-button [disabled]="searchStarted">SEARCH</button>
                        <button class="clear-btn" type="button" mat-flat-button [disabled]="searchStarted" (click)="resetSearch()">Clear search
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

        <div class="result-container" fxLayout="column">

            <div class="filter-container">

                <div class="btn-container">
                    <button class="create-btn" type="button" mat-raised-button (click)="create()">
                        <mat-icon>add</mat-icon>
                        New Passage
                    </button>

                    <button class="download-btn" type="button" mat-raised-button [disabled]="!dataSource || dataSource.filteredData.length == 0" (click)="export()">
                        <mat-icon>get_app</mat-icon>
                        Export
                    </button>
                </div>

                <mat-form-field>
                    <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter">
                    <button *ngIf="value" mat-button matSuffix (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <div class="row-counter">{{dataSource ? dataSource.filteredData.length : 0}} <span
                        *ngIf="amountResult | async as total"> of {{total}}
                    results</span>
                </div>

            </div>

            <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- row number -->
                    <ng-container matColumnDef="row">
                        <th mat-header-cell *matHeaderCellDef>Row</th>
                        <td mat-cell *matCellDef="let element; let row = index;">
                            <div>{{row + 1}}</div>
                        </td>
                    </ng-container>

                    <!-- displayed title column -->
                    <ng-container matColumnDef="hasDisplayedTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Displayed Title</th>
                        <td mat-cell *matCellDef="let element">
                            <div>{{element.hasDisplayedTitle[0].value}}</div>
                        </td>
                    </ng-container>

                    <!-- text column -->
                    <ng-container matColumnDef="hasText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
                        <td mat-cell *matCellDef="let element">
                            <div [innerHTML]="element.hasText[0].value"></div>
                        </td>
                    </ng-container>

                    <!-- text hist column -->
                    <ng-container matColumnDef="hasTextHist">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Text Hist.</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.hasTextHist" [innerHTML]="element.hasTextHist[0].value"></div>
                        </td>
                    </ng-container>

                    <!-- lexia column -->
                    <ng-container matColumnDef="contains">
                        <th mat-header-cell *matHeaderCellDef>Lexia *</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngFor="let lex of element.contains">{{lex.hasLexiaTitle[0].value}}</div>
                        </td>
                    </ng-container>

                    <!-- button column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Detail</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-btn-container">
                                <button class="edit-btn" mat-button color="primary" (click)="edit(element)">
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div class="spinner-big" *ngIf="searchStarted">
                <ngx-spinner name="spinner-big" type="ball-spin-clockwise"></ngx-spinner>
            </div>

            <div class="load-more" *ngIf="amountResult | async as amount">
                <button mat-button *ngIf="(searchResults.length !== amount) && !searchStarted" (click)="loadMoreResults()">Load more</button>
            </div>

        </div>

<!--        <div style="border: 1px solid black; width: 100%; padding: 1rem;">-->
<!--            <div *ngIf="searchResults.length == 0"> No results</div>-->
<!--            <table>-->
<!--                <tr *ngFor="let result of searchResults">-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;">{{result.hasText[0].value}}</td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;"><span *ngIf="result.hasTextHist">{{result.hasTextHist[0].value}}</span></td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;"><span *ngIf="result.hasPrefixDisplayedTitle">{{result.hasPrefixDisplayedTitle[0].value}}</span></td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;">{{result.hasDisplayedTitle[0].value}}</td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;"><span *ngIf="result.hasPage">{{result.hasPage[0].value}}</span></td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;"><span *ngIf="result.hasPageHist">{{result.hasPageHist[0].value}}</span></td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;">{{listService.getNameOfNode(result.hasResearchField[0].listNode)}}</td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;">-->
<!--                        <div *ngFor="let func of result.hasFunctionVoice;">{{listService.getNameOfNode(func.listNode)}}</div>-->
<!--                    </td>-->
<!--                    <td style="border: 1px solid lightgrey; padding: 5px;">-->
<!--                        <div *ngFor="let marking of result.hasMarking;">{{listService.getNameOfNode(marking.listNode)}}</div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->

    </div>

</div>
