.browse-container {
  margin: 2rem 1rem;
  text-align: center;
}

.width-100 {
  width: 100%;
}

.search-container {
  margin: 2rem 1rem;

  mat-card-actions {
    text-align: center;
  }

  .spinner-list {
    height: 4rem;
    // Necessary to display the spinner within the div container (-> ngx spinner)
    position: relative
  }
}
