<div class="res-type-menu">
    <div class="res-type-item" [class.active]="resTypeSelected === 'book'" (click)="selectResType('book')">Books</div>
    <div class="res-type-item" [class.active]="resTypeSelected === 'lexia'" (click)="selectResType('lexia')">Lexias</div>
    <div class="res-type-item" [class.active]="resTypeSelected === 'author'" (click)="selectResType('author')">Authors</div>
</div>

<div class="browse-container" fxShow.gt-sm fxHide>
    <mat-button-toggle-group [(ngModel)]="charSelected" (ngModelChange)="selectChar($event)">
        <mat-button-toggle *ngFor="let char of chars" [value]="char">{{char}}</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="browse-container" fxHide.gt-sm>
    <mat-form-field>
        <mat-select [(ngModel)]="charSelected" (ngModelChange)="selectChar($event)">
            <mat-option *ngFor="let char of chars" [value]="char">{{char}}</mat-option>
        </mat-select>
        <mat-label>Letter</mat-label>
    </mat-form-field>
</div>

<div class="search-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start"
     fxLayoutGap="30px">

    <mat-card fxFlex.gt-sm="350px" *ngIf="charSelected">

        <mat-card-content *ngIf="!alphabeticSearchStarted">
            <div *ngFor="let alphaRes of alphabeticResources; let first = first;">
                <div class="divider" *ngIf="!first"></div>
                <div class="list-item" (click)="selectFromList(alphaRes.id)">{{getListName(alphaRes)}}</div>
            </div>
        </mat-card-content>

        <mat-card-content *ngIf="alphabeticSearchStarted">
            <div class="spinner-list">
                <ngx-spinner name="spinner-{{charSelected}}"></ngx-spinner>
            </div>
        </mat-card-content>

    </mat-card>

    <app-results #results></app-results>

</div>
