.browse-container {
  margin: 2rem 1rem;
  text-align: center;
}

.width-100 {
  width: 100%;
}

.search-container {
  margin: 2rem 1rem;

  .divider {
    border-bottom: 1px solid lightgray;
  }

  .list-item {
    cursor: pointer;
    padding: 0.1rem 0;
  }

  .list-item:hover {
    background-color: rgb(220, 220, 220);
  }

  .spinner-list {
    height: 4rem;
    // Necessary to display the spinner within the div container (-> ngx spinner)
    position: relative
  }
}
