<button mat-button (click)="selectResType('book')">Books</button>
<button mat-button (click)="selectResType('lexia')">Lexias</button>
<button mat-button (click)="selectResType('author')">Authors</button>

<div class="browse-container" fxShow.gt-sm fxHide>
    <mat-button-toggle-group [(ngModel)]="charSelected" (ngModelChange)="selectChar($event)">
        <mat-button-toggle *ngFor="let char of chars" value="{{char}}">{{char}}</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="browse-container" fxHide.gt-sm>
    <mat-form-field>
        <mat-select [(ngModel)]="charSelected" (ngModelChange)="selectChar($event)">
            <mat-option *ngFor="let char of chars" [value]="char">{{char}}</mat-option>
        </mat-select>
        <mat-label>Letter</mat-label>
    </mat-form-field>
</div>

<div class="search-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start"
     fxLayoutGap="30px">

    <mat-card fxFlex.gt-sm="350px">
        <ng-container *ngIf="!alphabeticSearchStarted">
            <mat-card-content *ngIf="!alphabeticSearchStarted">
                <div *ngFor="let alphaRes of alphabeticResources; let first = first;">
                    <mat-divider *ngIf="!first"></mat-divider>
                    <div (click)="detailSelected(alphaRes)">{{getListName(alphaRes)}}</div>
                </div>
            </mat-card-content>
            <ng-container *ngIf="alphabeticResAmount | async as num">
                <mat-card-actions *ngIf="!alphabeticSearchStarted">
                    <button mat-button *ngIf="alphabeticResources.length < num" (click)="showList(num)">Show All
                    </button>
                </mat-card-actions>
            </ng-container>
        </ng-container>
        <ng-container>
            <mat-card-content *ngIf="alphabeticSearchStarted">
                <div class="spinner-list">
                    <ngx-spinner name="spinner-{{selectChar}}"></ngx-spinner>
                </div>
            </mat-card-content>
        </ng-container>
    </mat-card>

    <app-results #results></app-results>

</div>

