<div class="container" fxLayout="column">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Companies</h2>

    <div class="search-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start start">
        <mat-card fxFlex.gt-sm="300px">
            <mat-card-content>
                <form [formGroup]="form" fxLayout="column" (ngSubmit)="search()">

                    <table>

                        <tr>
                            <td>
                                <mat-label>Internal ID</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="internalId">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Title</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="companyTitle">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Member Name</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="member">
                                <select formControlName="mem">
                                    <option value="">-</option>
                                    <option *ngFor="let mem of members" [value]="mem.id">
                                        <span *ngIf="mem.hasFirstName">{{mem.hasFirstName}}</span> {{mem.hasLastName}}
                                    </option>
                                </select>
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="memberNull"
                                              (change)="onChange($event, 'member')">null
                                </mat-checkbox>
                            </td>
                        </tr>

<!--                        <tr>-->
<!--                            <td>-->
<!--                                <mat-label>Extra info</mat-label>-->
<!--                            </td>-->
<!--                            <td></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td formGroupName="extra">-->
<!--                                <input formControlName="ex">-->
<!--                            </td>-->
<!--                            <td class="checkbox">-->
<!--                                <mat-checkbox [color]="'warn'" formControlName="extraNull"-->
<!--                                              (change)="onChange($event, 'extra')">null-->
<!--                                </mat-checkbox>-->
<!--                            </td>-->
<!--                        </tr>-->

                    </table>

                    <div class="buttons">
                        <button class="search-btn" type="submit" mat-flat-button [disabled]="searchStarted">SEARCH</button>
                        <button class="clear-btn" type="button" mat-flat-button [disabled]="searchStarted" (click)="resetSearch()">Clear search
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

        <div class="result-container" fxLayout="column">

            <div class="filter-container">

                <div class="btn-container">
                    <button class="create-btn" type="button" mat-raised-button (click)="create()">
                        <mat-icon>add</mat-icon>
                        New Company
                    </button>

                    <button class="download-btn" type="button" mat-raised-button [disabled]="!dataSource || dataSource.filteredData.length == 0" (click)="export()">
                        <mat-icon>get_app</mat-icon>
                        Export
                    </button>
                </div>

                <mat-form-field>
                    <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter">
                    <button *ngIf="value" mat-button matSuffix mat-icon-button (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <div class="row-counter">{{dataSource ? dataSource.filteredData.length : 0}} <span
                        *ngIf="amountResult | async as total"> of {{total}}
                    results</span>
                </div>

            </div>

            <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- row number -->
                    <ng-container matColumnDef="row">
                        <th mat-header-cell *matHeaderCellDef>Row</th>
                        <td mat-cell *matCellDef="let element; let row = index;">
                            <div>{{row + 1}}</div>
                        </td>
                    </ng-container>

                    <!-- internal id -->
                    <ng-container matColumnDef="hasCompanyInternalId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</th>
                        <td mat-cell *matCellDef="let element">
                            <div>{{element.hasCompanyInternalId[0].value}}</div>
                        </td>
                    </ng-container>

                    <!-- title column -->
                    <ng-container matColumnDef="hasCompanyTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                        <td mat-cell *matCellDef="let element">
                            <div>{{element.hasCompanyTitle[0].value}}</div>
                        </td>
                    </ng-container>

                    <!-- button column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Detail</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-btn-container">
                                <button class="edit-btn" mat-button mat-icon-button color="primary" (click)="edit(element)">
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>

            <div class="spinner-big" *ngIf="searchStarted">
                <ngx-spinner name="spinner-big" type="ball-spin-clockwise"></ngx-spinner>
            </div>

            <div class="load-more" *ngIf="amountResult | async as amount">
                <button mat-button *ngIf="(searchResults.length !== amount) && !searchStarted" (click)="loadMoreResults()">Load more</button>
            </div>

        </div>

    </div>

</div>
