<div class="container" fxLayout="column">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Companies</h2>

    <div class="search-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start start">
        <mat-card fxFlex.gt-sm="300px">
            <mat-card-content>
                <form [formGroup]="form" fxLayout="column">

                    <table>

                        <tr>
                            <td>
                                <mat-label>Internal ID</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="internalId">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Title</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="companyTitle">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Extra info</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="extra">
                                <input formControlName="ex">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="extraNull"
                                              (change)="onChange($event, 'extra')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                    </table>

                    <div class="buttons">
                        <button class="search-btn" type="submit" mat-flat-button>SEARCH</button>
                        <button class="clear-btn" type="button" mat-flat-button (click)="resetSearch()">Clear search
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

        <div style="border: 1px solid black; width: 100%;">
            Table with the results
        </div>
    </div>

</div>

<!--<div class="table-container">-->

<!--    <a [routerLink]="['/categories']">< back</a>-->
<!--    <h2>List of Companies</h2>-->

<!--    <div class="filter-container">-->

<!--        <div class="create-btn-container">-->
<!--            <button mat-raised-button type="button" color="primary" (click)="create()">-->
<!--                <mat-icon>add</mat-icon>-->
<!--                Create Company-->
<!--            </button>-->
<!--        </div>-->

<!--        <mat-form-field>-->
<!--            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"-->
<!--                   (keydown.escape)="clear()">-->
<!--            <button *ngIf="value" mat-button matSuffix mat-icon-button (click)="clear()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--            </button>-->
<!--        </mat-form-field>-->

<!--        <div class="row-counter">Amount: {{rowCount()}}</div>-->
<!--    </div>-->

<!--    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->

<!--        &lt;!&ndash; internal id &ndash;&gt;-->
<!--        <ng-container matColumnDef="internalID">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.internalID}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; name column &ndash;&gt;-->
<!--        <ng-container matColumnDef="name">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.name}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; order column &ndash;&gt;-->
<!--        <ng-container matColumnDef="order">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.order}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; references column &ndash;&gt;-->
<!--        <ng-container matColumnDef="references">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>References</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="read-only-value">{{element.references}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; button column &ndash;&gt;-->
<!--        <ng-container matColumnDef="action">-->
<!--            <th mat-header-cell *matHeaderCellDef></th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="action-btn-container">-->
<!--                    <button mat-button mat-icon-button color="primary" (click)="editRow(element)">-->
<!--                        <mat-icon>edit</mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-button mat-icon-button color="warn" (click)="deleteRow(element.id)"-->
<!--                            [disabled]="element.references !== 0">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--    </table>-->

<!--</div>-->
