.table-container {

  /*margin: auto*/
}

table {
  width: 100%;

  th, td {
    padding: 0.5rem;
    //border: 1px solid red;

    .read-only-value {
      min-height: 1rem;
      padding: 0.25rem 0.5rem;
    }

    .edit-value {
      min-height: 1rem;
      padding: 0.25rem 0.25rem;
      border: 1px solid white;
    }

    .edit-value:hover {
      //background: rgb(240,240,240);
      cursor: text;
      border: 1px solid rgb(150, 150, 150);
    }
  }
}
