.author-to-add:hover {
  background-color: whitesmoke;
}

.author-added:nth-child(even) {
  background-color:whitesmoke;
}

.author-added:nth-child(odd) {
  background-color: lightgray;
}

.add-button {
  cursor: pointer;
}

th {
  background-color: darkgray;
}

table {
  min-width: 100%;
}

.box {
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 300ms max-height;
}

.box.opened {
  max-height: 450px;
  height: 100%;
  transition: ease-in-out 600ms max-height;
}
