<div class="container" fxLayout="column">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Authors</h2>

    <div class="search-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start start">
        <mat-card fxFlex.gt-sm="300px">
            <mat-card-content>
                <form [formGroup]="form" fxLayout="column">

                    <table>

                        <tr>
                            <td>
                                <mat-label>Internal ID</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="internalId">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>First Name</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="firstName">
                                <input formControlName="fn">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="firstNameNull"
                                              (change)="onChange($event, 'firstName')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Last Name</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="lastName">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Description</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input formControlName="description">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Birth Date</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="birth">
                                <input formControlName="bdate">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="birthNull"
                                              (change)="onChange($event, 'birth')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Death Date</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="death">
                                <input formControlName="ddate">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="deathNull"
                                              (change)="onChange($event, 'death')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Active Date</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="active">
                                <input formControlName="adate">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="activeNull"
                                              (change)="onChange($event, 'active')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Gender</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select formControlName="gender">
                                    <option value="">-</option>
                                    <option *ngFor="let gen of genders" [value]="gen.id">
                                        {{gen.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Extra info</mat-label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td formGroupName="extra">
                                <input formControlName="ex">
                            </td>
                            <td class="checkbox">
                                <mat-checkbox [color]="'warn'" formControlName="extraNull"
                                              (change)="onChange($event, 'extra')">null
                                </mat-checkbox>
                            </td>
                        </tr>

                    </table>

                    <div class="buttons">
                        <button class="search-btn" type="submit" mat-flat-button>SEARCH</button>
                        <button class="clear-btn" type="button" mat-flat-button (click)="resetSearch()">Clear search
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

        <div style="border: 1px solid black; width: 100%;">
            Table with the results
        </div>
    </div>

</div>

<!--<div class="table-container">-->

<!--    <a [routerLink]="['/categories']">< back</a>-->
<!--    <h2>List of Authors</h2>-->

<!--    <div class="filter-container">-->

<!--        <div class="create-btn-container">-->
<!--            <button mat-raised-button type="button" color="primary" (click)="create()">-->
<!--                <mat-icon>add</mat-icon>-->
<!--                Create Author-->
<!--            </button>-->
<!--        </div>-->

<!--        <mat-form-field>-->
<!--            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"-->
<!--                   (keydown.escape)="clearFilter()">-->
<!--            <button *ngIf="value" mat-button matSuffix mat-icon-button (click)="clearFilter()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--            </button>-->
<!--        </mat-form-field>-->

<!--        <div class="row-counter">Amount: {{rowCount()}}</div>-->
<!--    </div>-->

<!--    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->

<!--        &lt;!&ndash; internal id &ndash;&gt;-->
<!--        <ng-container matColumnDef="hasPersonInternalId">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.hasPersonInternalId[0].value}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; first name column &ndash;&gt;-->
<!--        <ng-container matColumnDef="hasFirstName">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.hasFirstName[0].value}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; last name column &ndash;&gt;-->
<!--        <ng-container matColumnDef="hasLastName">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.hasLastName[0].value}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; description column &ndash;&gt;-->
<!--        <ng-container matColumnDef="description">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.description}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; birth date column &ndash;&gt;-->
<!--        <ng-container matColumnDef="birthDate">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth year</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{getDateFormat(element.birthStartDate, element.birthEndDate)}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; death date column&ndash;&gt;-->
<!--        <ng-container matColumnDef="deathDate">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Death year</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{getDateFormat(element.deathStartDate, element.deathEndDate)}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; active date column&ndash;&gt;-->
<!--        <ng-container matColumnDef="activeDate">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{getDateFormat(element.flStartDate, element.flEndDate)}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; gender column&ndash;&gt;-->
<!--        <ng-container matColumnDef="gender">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div *ngIf="element.gender">{{element.gender.name}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; lexia column&ndash;&gt;-->
<!--        <ng-container matColumnDef="lexia">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lexia</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div *ngIf="element.humanAsLexia">{{element.humanAsLexia.name}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; order column &ndash;&gt;-->
<!--        <ng-container matColumnDef="order">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div>{{element.order}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; reference column &ndash;&gt;-->
<!--        <ng-container matColumnDef="references">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>References</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="read-only-value">{{element.references}}</div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; button column &ndash;&gt;-->
<!--        <ng-container matColumnDef="action">-->
<!--            <th mat-header-cell *matHeaderCellDef></th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div class="action-btn-container">-->
<!--                    <button mat-button mat-icon-button color="primary" (click)="edit(element)">-->
<!--                        <mat-icon>edit</mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-button mat-icon-button color="warn" (click)="delete(element.id)"-->
<!--                            [disabled]="element.references !== 0">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--    </table>-->

<!--</div>-->
