<div class="table-container">

    <a [routerLink]="['/categories']">< back</a>
    <h2>List of Authors</h2>

    <div class="filter-container">

        <div class="create-btn-container">
            <button mat-raised-button type="button" color="primary" (click)="create()">
                <mat-icon>add</mat-icon>
                Create Author
            </button>
        </div>

        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"
                   (keydown.escape)="clear()">
            <button *ngIf="value" mat-button matSuffix mat-icon-button (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div class="row-counter">Amount: {{rowCount()}}</div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- internal id -->
        <ng-container matColumnDef="internalID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.internalID}}</div>
            </td>
        </ng-container>

        <!-- first name column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.firstName}}</div>
            </td>
        </ng-container>

        <!-- last name column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.lastName}}</div>
            </td>
        </ng-container>

        <!-- description column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.description}}</div>
            </td>
        </ng-container>

        <!-- birth date column -->
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth year</th>
            <td mat-cell *matCellDef="let element">
                <div>{{getDateFormat(element.birthStartDate, element.birthEndDate)}}</div>
            </td>
        </ng-container>

        <!-- death date column-->
        <ng-container matColumnDef="deathDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Death year</th>
            <td mat-cell *matCellDef="let element">
                <div>{{getDateFormat(element.deathStartDate, element.deathEndDate)}}</div>
            </td>
        </ng-container>

        <!-- active date column-->
        <ng-container matColumnDef="activeDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
            <td mat-cell *matCellDef="let element">
                <div>{{getDateFormat(element.flStartDate, element.flEndDate)}}</div>
            </td>
        </ng-container>

        <!-- gender column-->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.gender">{{element.gender.name}}</div>
            </td>
        </ng-container>

        <!-- lexia column-->
        <ng-container matColumnDef="lexia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lexia</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.humanAsLexia">{{element.humanAsLexia.name}}</div>
            </td>
        </ng-container>

        <!-- order column -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.order}}</div>
            </td>
        </ng-container>

        <!-- reference column -->
        <ng-container matColumnDef="references">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>References</th>
            <td mat-cell *matCellDef="let element">
                <div class="read-only-value">{{element.references}}</div>
            </td>
        </ng-container>

        <!-- button column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="action-btn-container">
                    <button mat-button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button mat-icon-button color="warn" (click)="delete(element.id)"
                            [disabled]="element.references !== 0">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
