.res-container {
    margin: 5rem 1rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    //grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: start;
    font-size: smaller;
    border: 1px solid lightgray;
    background: white;

    .res-header {
        font-size: x-large;
    }

    .header {
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .res-container {
        margin: 2rem 1rem;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

.spinner-big {
    height: 4rem;
    // Necessary to display the spinner within the div container (-> ngx spinner)
    position: relative
}

:host::ng-deep .quote {
    color: rgba(159, 11, 11, 1);
}

:host::ng-deep .annotation {
    color: rgba(139, 69, 19);
}
