<div class="dialog-multiple" *ngIf="max!==1">

    <h2>Editionen auswählen</h2>

    <div class="result-container">
        <table class="chosen-data-table">
            <tr class="header-row">
                <th>Publikationsinfo</th>
                <th>Buch</th>
                <th>Sprache</th>
                <th></th>
            </tr>
            <tr class="data-row" *ngFor="let edition of clonedList">
                <td>{{edition.publicationInfo}}</td>
                <td>{{edition.book.title}}</td>
                <td>{{edition.language.name}}</td>
                <td class="delete-cell">
                    <button class="remove-button" (click)="removeEdition(edition.id)">-</button>
                </td>
            </tr>
            <tr class="empty-row" *ngIf="clonedList.length === 0">
                <td colspan="4">Noch keine Editionen hinzugefügt</td>
            </tr>
        </table>
    </div>

    <mat-divider></mat-divider>

    <div class="full-data-container" [class.opened]="addingModus">
        <mat-form-field>
            <input [(ngModel)]="filterWord" matInput placeholder="Filter" (input)="applyFilter($event.target.value)"
                   (keydown.escape)="clear()">
            <button *ngIf="filterWord" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="full-data-table-container">
            <table class="full-data-table">
                <tr>
                    <th>Publikationsinfo</th>
                    <th>Buch</th>
                    <th>Sprache</th>
                    <th></th>
                </tr>
                <tr class="data-row" *ngFor="let edition of filteredList">
                    <td>{{edition.publicationInfo}}</td>
                    <td>{{edition.book.title}}</td>
                    <td>{{edition.language.name}}</td>
                    <td>
                        <button type="button" class="add-button" [disabled]="isUsed(edition.id) || hasMaximum()"
                                (click)="addEdition(edition)">+
                        </button>
                    </td>
                </tr>
                <tr class="empty-row" *ngIf="filteredList.length === 0">
                    <td colspan="4">Editionsliste ist leer!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="add-btn-container" *ngIf="!addingModus">
        <button mat-flat-button color="accent" (click)="openList()">
            <mat-icon>add</mat-icon>
            Edition hinzufügen
        </button>
    </div>

    <div class="add-btn-container" *ngIf="addingModus">
        <button mat-flat-button color="accent" (click)="closeList()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            Zuklappen
        </button>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!listChanged" (click)="save()">ÜBERNEHMEN
        </button>
    </div>

</div>

<div class="dialog-single" *ngIf="max==1">

    <h2>Edition auswählen</h2>

    <div class="full-data-container">
        <mat-form-field>
            <input [(ngModel)]="filterWord" matInput placeholder="Filter" (input)="applyFilter($event.target.value)"
                   (keydown.escape)="clear()">
            <button *ngIf="filterWord" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="full-data-table-container">
            <table class="full-data-table">
                <tr>
                    <th>Publikationsinfo</th>
                    <th>Buch</th>
                    <th>Sprache</th>
                </tr>
                <tr class="data-row" *ngFor="let edition of filteredList" (click)="chooseElement(edition)">
                    <td>{{edition.publicationInfo}}</td>
                    <td>{{edition.book.title}}</td>
                    <td>{{edition.language.name}}</td>
                </tr>
                <tr class="empty-row" *ngIf="filteredList.length === 0">
                    <td colspan="4">Editionsliste ist leer!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!listChanged" (click)="save()">ÜBERNEHMEN
        </button>
    </div>
</div>
