<div class="table-container">

    <div class="filter-container">
        <div class="create-btn-container">
            <button mat-raised-button type="button" color="primary" (click)="create()"><mat-icon>add</mat-icon>Buch erstellen</button>
        </div>
        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter" (keydown.escape)="clear()">
            <button *ngIf="value" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="row-counter">Anzahl: {{rowCount()}}</div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- internal id -->
        <ng-container matColumnDef="internalID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Interne ID</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="intID" (click)="intID.open()">{{element.internalID}}</div>
                <sat-popover #intID hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="intID.isOpen()" [value]="element.internalID" [type]="'string'" (newValue)="updateProperty($event,'internalID', element, intID)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="tit" (click)="tit.open()">{{element.title}}</div>
                <sat-popover #tit hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="tit.isOpen()" [value]="element.title" [type]="'string'" (newValue)="updateProperty($event,'title', element, tit)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- author column -->
        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef>Autor</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" (click)="editAuthor(element)" >
                    <div *ngFor="let author of element.authors">{{author.firstName}} {{author.lastName}}</div>
                </div>
            </td>
        </ng-container>

        <!-- venue column -->
        <ng-container matColumnDef="venues">
            <th mat-header-cell *matHeaderCellDef>Venue</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" (click)="editVenue(element)" >
                    <div *ngFor="let venue of element.venues">{{venue.name}}, {{venue.city}}</div>
                </div>
            </td>
        </ng-container>

        <!-- organisation column -->
        <ng-container matColumnDef="organisations">
            <th mat-header-cell *matHeaderCellDef>Organisation</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" (click)="editOrganisation(element)" >
                    <div *ngFor="let organisation of element.organisations">{{organisation.name}}</div>
                </div>
            </td>
        </ng-container>

        <!-- order column -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reihenfolge</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="or" (click)="or.open()">{{element.order}}</div>
                <sat-popover #or hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="or.isOpen()" [value]="element.order" [type]="'number'" (newValue)="updateProperty($event,'order', element, or)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- reference column -->
        <ng-container matColumnDef="references">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referenzen</th>
            <td mat-cell *matCellDef="let element">
                <div class="read-only-value">{{element.references}}</div>
            </td>
        </ng-container>

        <!-- button column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="action-btn-container">
                    <button mat-button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button mat-icon-button color="warn" (click)="delete(element.id)" [disabled]="element.references !== 0">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
