<div class="dialog-multiple" *ngIf="max!==1">

    <h2>Add authors</h2>

    <div class="result-container">
        <table class="chosen-data-table">
            <tr class="header-row">
                <th>ID Intern</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th></th>
            </tr>
            <tr class="data-row" *ngFor="let author of clonedList">
                <td>{{author.internalID}}</td>
                <td>{{author.firstName}}</td>
                <td>{{author.lastName}}</td>
                <td class="delete-cell">
                    <button class="remove-button" (click)="removeAuthor(author.id)">-</button>
                </td>
            </tr>
            <tr class="empty-row" *ngIf="clonedList.length === 0">
                <td colspan="4">Noch keine Autoren hinzugefügt</td>
            </tr>
        </table>
    </div>

    <mat-divider></mat-divider>

    <div class="full-data-container" [class.opened]="addingModus">
        <mat-form-field>
            <input [(ngModel)]="filterWord" matInput placeholder="Filter" (input)="applyFilter($event.target.value)"
                   (keydown.escape)="clear()">
            <button *ngIf="filterWord" mat-button matSuffix mat-icon-button (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="full-data-table-container">
            <table class="full-data-table">
                <tr>
                    <th>ID Intern</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th></th>
                </tr>
                <tr class="data-row" *ngFor="let author of filteredList">
                    <td>{{author.internalID}}</td>
                    <td>{{author.firstName}}</td>
                    <td>{{author.lastName}}</td>
                    <td>
                        <button type="button" class="add-button" [disabled]="isUsed(author.id) || hasMaximum()"
                                (click)="addAuthor(author)">+
                        </button>
                    </td>
                </tr>
                <tr class="empty-row" *ngIf="filteredList.length === 0">
                    <td colspan="4">Autorenliste ist leer!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="add-btn-container">
        <button *ngIf="!addingModus" mat-button color="primary" (click)="openList()">
            <mat-icon>keyboard_arrow_down</mat-icon>
            select author
        </button>

        <button *ngIf="addingModus" mat-button color="primary" (click)="closeList()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            close list
        </button>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!listChanged" (click)="save()">ÜBERNEHMEN
        </button>
    </div>

</div>

<div class="dialog-single" *ngIf="max==1">

    <h2>Autor auswählen</h2>

        <div class="full-data-container">
        <mat-form-field>
            <input [(ngModel)]="filterWord" matInput placeholder="Filter" (input)="applyFilter($event.target.value)"
                   (keydown.escape)="clear()">
            <button *ngIf="filterWord" mat-button matSuffix mat-icon-button (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="full-data-table-container">
            <table class="full-data-table">
                <tr>
                    <th>ID Intern</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                </tr>
                <tr class="data-row" *ngFor="let author of filteredList" (click)="chooseElement(author)">
                    <td>{{author.internalID}}</td>
                    <td>{{author.firstName}}</td>
                    <td>{{author.lastName}}</td>
                </tr>
                <tr class="empty-row" *ngIf="filteredList.length === 0">
                    <td colspan="4">Autorenliste ist leer!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!listChanged" (click)="save()">ÜBERNEHMEN</button>
    </div>
</div>
