table {
    min-width: 100%;
}

button {
    cursor: pointer;
}

.author-container {
    max-height: 15rem;
    overflow-y: scroll;
}

.authors {
    th {
        background-color: lightgray;
        text-align: left;
    }

    th, td {
        padding: 0.3rem;
    }

    .data-row {
        background-color:whitesmoke;
    }

    .delete-cell {
        text-align: center;
    }
}

.new-author-container {
    margin-top: 1rem;
}

.author-list-container {
    margin-top:1rem;

    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 200ms max-height;

    mat-form-field {
        width: 100%;
    }

    .author-list-table-container{
        border: 1px solid black;
        height: 14rem;
        overflow-y: scroll;

        .author-list {
            tr:hover {
                background-color: whitesmoke;
            }
        }
    }
}

.author-list-container.opened {
    max-height: 450px;
    //height: 100%;
    transition: ease-in-out 600ms max-height;
}

.action-buttons {
    text-align: right;

    button {
        margin-top: 1rem;
    }
}
