<div class="dialog-multiple" *ngIf="refInfo && flattenTreeTable">

    <h2>{{refInfo.titleTxt}}</h2>

    <div class="result-container">
        <table class="chosen-data-table">
            <tr class="header-row">
                <th *ngFor="let prop of refInfo.props">{{prop}}</th>
                <th></th>
            </tr>
            <tr class="data-row" *ngFor="let category of selectedCat">
                <td *ngFor="let prop of refInfo.props">{{category[prop]}}</td>
                <td class="delete-cell">
                    <button class="remove-button" (click)="removeCategory(category.id)">-</button>
                </td>
            </tr>
            <tr class="empty-row" *ngIf="selectedCat.length === 0">
                <td colspan="4">Noch keine Autoren hinzugefügt</td>
            </tr>
        </table>
    </div>

    <mat-divider></mat-divider>

    <div class="full-data-container" [class.opened]="listOpen">
        <div class="full-data-table-container" style="margin-top: 3rem;">
            <table class="full-data-table">
                <tr>
                    <th *ngFor="let prop of refInfo.props">{{prop}}</th>
                    <th></th>
                </tr>
                <tr class="data-row" *ngFor="let category of flattenTreeTable" [ngStyle]="{'visibility': category.isVisible ? 'visible' : 'collapse'}">
                    <td *ngFor="let prop of refInfo.props">
                        <span [innerHTML]="formatIndentation(category)"></span>
                        <span *ngIf="category.nodes.length" (click)="nodeClick(category)">
                            {{category.isExpanded ? '▾' : '▸'}}</span> {{category[prop]}}
                    </td>
                    <td>
                        <button type="button" class="add-button" [ngStyle]="{'visibility': category.nodes.length || !category.isVisible ? 'hidden' : 'visible'}" [disabled]="isUsed(category.id) || hasMaximum()"
                                (click)="addCategory(category)">+
                        </button>
                    </td>
                </tr>
                <tr class="empty-row" *ngIf="flattenTreeTable.length === 0">
                    <td colspan="4">Autorenliste ist leer!</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="add-btn-container">
        <button *ngIf="!listOpen" mat-button color="primary" (click)="openList()">
            <mat-icon>keyboard_arrow_down</mat-icon>
            {{refInfo.btnTxt}}
        </button>

        <button *ngIf="listOpen" mat-button color="primary" (click)="closeList()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            close list
        </button>
    </div>

    <div class="action-btn-container">
        <button type="button" mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
        <button type="button" mat-flat-button color="primary" [disabled]="false" (click)="save()">ÜBERNEHMEN
        </button>
    </div>

</div>
