<div class="container">
    <h2>Edit categories</h2>

    <div class="buttons">
        <button mat-raised-button color="basic" (click)="showAuthors()">
            <mat-icon>account_circle</mat-icon>
            Author
        </button>
        <button mat-raised-button color="basic" (click)="showBooks()">
            <mat-icon>book</mat-icon>
            Book
        </button>
        <button mat-raised-button color="basic" (click)="showContributors()">
            <mat-icon>folder_shared</mat-icon>
            Contributor
        </button>
        <button mat-raised-button color="basic" (click)="showFormalClasses()">
            <mat-icon>format_list_numbered</mat-icon>
            Formal Class
        </button>
        <button mat-raised-button color="basic" (click)="showFunctionVoices()">
            <mat-icon>insert_comment</mat-icon>
            Function Voice
        </button>
        <button mat-raised-button color="basic" (click)="showGenders()">
            <mat-icon>wc</mat-icon>
            Gender
        </button>
        <button mat-raised-button color="basic" (click)="showGenres()">
            <mat-icon>mood</mat-icon>
            Genre
        </button>
        <button mat-raised-button color="basic" (click)="showImages()">
            <mat-icon>image</mat-icon>
            Image
        </button>
        <button mat-raised-button color="basic" (click)="showLanguages()">
            <mat-icon>record_voice_over</mat-icon>
            Language
        </button>
        <button mat-raised-button color="basic" (click)="showLexias()">
            <mat-icon>short_text</mat-icon>
            Lexia
        </button>
        <button mat-raised-button color="basic" (click)="showMarkings()">
            <mat-icon>check</mat-icon>
            Marking
        </button>
        <button mat-raised-button color="basic" (click)="showOrganisations()">
            <mat-icon>business</mat-icon>
            Company
        </button>
        <button mat-raised-button color="basic" (click)="showPassages()">
            <mat-icon>library_books</mat-icon>
            Passage
        </button>
        <button mat-raised-button color="basic" (click)="showResearchFields()">
            <mat-icon>school</mat-icon>
            Research Field
        </button>
        <button mat-raised-button color="basic" (click)="showStatus()">
            <mat-icon>emoji_events</mat-icon>
            Status
        </button>
        <button mat-raised-button color="basic" (click)="showSubjects()">
            <mat-icon>subject</mat-icon>
            Subject
        </button>
        <button mat-raised-button color="basic" (click)="showVenues()">
            <mat-icon>theaters</mat-icon>
            Venue
        </button>
    </div>

</div>
