.table-container {
  margin: 1rem 3rem;

  .filter-container {
    display: flex;

    .create-btn-container {
      margin: auto;
    }

    mat-form-field {
      margin: 0 2rem;
      flex-grow: 1;
    }

    .row-counter {
      margin: auto;
      color: gray;
    }
  }

  table {
    width: 100%;

    th, td {
      padding: 0 0.5rem;

      .read-only-value {
        min-height: 1rem;
        padding: 0.25rem 0.5rem;
      }

      .action-btn-container {
        display: flex;
      }
    }
  }
}
