.result-container {

  .result {
    //margin: 0.5rem;
    border: 1px solid lightgrey;
    //background-color: white;

    .result-text {
      padding: 1rem 2rem 1rem 2rem;
      background-color: rgb(220, 220, 220);
    }

    .details {
      max-height: 0;
      overflow-y: hidden;
      transition: ease-in-out 0ms max-height;

      .spinner-container {
        height: 3rem;
        // Necessary to display the spinner within the div container (-> ngx spinner)
        position: relative;
      }
    }

    .details.opened {
      padding: 1rem 2rem 2rem 2rem;
      max-height: 450px;
      transition: ease-in-out 500ms max-height;
    }
  }

  // Every second box has different result-text background color
  .result:nth-child(even) > .result-text {
    background-color: rgb(190, 190, 190);
  }

  .no-results {
    margin-top: 2rem;
    text-align: center;
  }

  .load-more {
    height: 4rem;
    // loading button is vertically aligned
    display: flex;
    align-items: center;

    button {
      width: 100%;
    }
  }

  .spinner-small {
    height: 4rem;
    // Necessary to display the spinner within the div container (-> ngx spinner)
    position: relative;
  }

  .error {
    padding: 1rem;
    // Sets the image- and text-container to the center
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-container {
      width: 150px;
      height: 150px;
      // background-color: rgb(170, 180, 190);
      background-color: rgba(200, 175, 150, 0.4);
      border-radius: 50%;
      // Sets the image in the center of the circle
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .text {
      margin-top: 2rem;
      text-align: center;

      .title {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: x-large;
      }
    }
  }

  .spinner-big {
    height: 8rem;
    // Necessary to display the spinner within the div container (-> ngx spinner)
    position: relative
  }
}
