<div class="search-container">
    Pending further funding, WordWeb/IDEM 2.0 will offer an expert search option with the following features:
    <li>Searches for complex research questions such as "Show all passages which quote Doctor Faustus" or "Show all passages in which John Marston quotes tragedies".</li>
    <li>Innovative visualizations of search results</li>
    <li>Additional search parameters including date of first performance, author's gender, research field and formal classification of quoted phrases and expressions.</li>
</div>
