<div class="search-container" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.gt-xs="550px">

        <h3>🚧 Under construction</h3>
        <div>Pending further funding, <i>WordWeb/IDEM 2.0</i> will offer an expert search option with additional search
            parameters and further search options.
        </div>
        <div class="features">
            <div class="feature-title">New search parameters will include:</div>
            <li><b>Date of first performance</b></li>
            <li><b>Actors</b> of the first performance if known</li>
            <li><b>Date of first publication</b> if known</li>
            <li><b>Subject</b> of nonfiction texts</li>
            <li><b>Research field</b></li>
            <li><b>Formal class of Lexias</b></li>
            <li><b>Images</b></li>
            <li><b>Contributor</b> (researchers who edited WordWeb/IDEM entries)</li>
        </div>
        <div>Additional features will include visualizations options for search results and, most importantly, the
            option to enter complex research questions such as "Show all passages which quote <i>Doctor Faustus</i>" or
            "Show all passages in which John Marston quotes tragedies".
        </div>

    </div>
</div>
