<div class="search-container" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.gt-xs="550px">

        <h3>🚧 Under construction</h3>
        <div>Pending further funding, <i>WordWeb/IDEM 2.0</i> will offer an expert search option with additional search
            parameters and further search options.
        </div>
        <div class="features">
            <div class="feature-title">New search parameters will include:</div>
            <li><b>Contributor</b> who edited and uploaded a WordWeb/IDEM entry</li>
            <li><b>Date of first performance</b> of a play</li>
            <li><b>Date of first publication</b> in print</li>
            <li><b>Gender</b> of the author</li>
            <li><b>Lexia category</b> so that users can filter out quoted names, key words, phrases or longer passages</li>
            <li><b>Titles and authors</b> of publications which we have used to find quotations, for example annotated
                editions or articles and books from various research fields.</li>
            <li><b>Research field</b> in which a quotation was first identified (Shakespeare studies, Classical studies etc.)</li>
        </div>
        <div><b>Additional features</b> will include visualizations options for search results and, most importantly, the
            option to enter complex research questions such as "Show all passages which quote <i>Doctor
                Faustus</i>" or "Show all passages in which John Marston quotes tragedies".
        </div>

    </div>
</div>
