<div class="container">
  <form [formGroup]="form" (ngSubmit)="create()">
    <h2>Neues Buch erstellen</h2>

    <table>
      <tr>
        <td class="title-column">Publication Info:</td>
        <td>
          <mat-form-field>
            <input matInput type="text" formControlName="publicationInfo" required>
          </mat-form-field>
        </td>
        <td></td>
      </tr>

      <tr>
        <td class="title-column">Buch:</td>
        <td>
          <mat-chip-list>
            <mat-chip *ngFor="let book of bookList">
              <mat-chip-avatar>
                <mat-icon>import_contacts</mat-icon>
              </mat-chip-avatar>
              {{book.title}}
            </mat-chip>
          </mat-chip-list>
        </td>
        <td>
          <button type="button" mat-flat-button color="accent" (click)="addBook()">{{addOrEdit(bookList)}}</button>
        </td>
      </tr>

      <tr>
        <td class="title-column">Sprache:</td>
        <td>
          <mat-chip-list>
            <mat-chip *ngFor="let language of languageList">
              <mat-chip-avatar>
                <mat-icon>record_voice_over</mat-icon>
              </mat-chip-avatar>
              {{language.name}}
            </mat-chip>

          </mat-chip-list>
        </td>
        <td>
          <button type="button" mat-flat-button color="accent" (click)="addLanguage()">{{addOrEdit(languageList)}}</button>
        </td>
      </tr>

    </table>

    <div class="button-actions">
      <button mat-button type="button" color="primary" (click)="cancel()">ABBRECHEN</button>
      <button mat-flat-button type="submit" color="primary">ERSTELLEN</button>
    </div>
  </form>
</div>
