<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="genders | async as gen; else loading">
        <h2>{{getTitle()}}</h2>

        <mat-dialog-content>
            <table>
                <tr>
                    <td class="title-column">Internal ID</td>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput type="text" formControlName="internalID" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Firstname</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="firstName">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Lastname</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="lastName" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Description</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <textarea rows="5" matInput formControlName="description"></textarea>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Gender</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let gender of gen" [value]="gender.id">{{gender.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr class="reference">
                    <td class="title-column">Is Lexia:</td>
                    <td>
                        <mat-chip-list class="mat-chip-list-stacked" *ngIf="lexiaList.length<MAX_CHIPS">
                            <mat-chip *ngFor="let lexia of lexiaList">
                                <mat-chip-avatar>
                                    <mat-icon>short_text</mat-icon>
                                </mat-chip-avatar>
                                {{lexia.name}}
                                <mat-icon matChipRemove (click)="removeLexia(lexia)">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list *ngIf="lexiaList.length>=MAX_CHIPS">
                            <mat-chip (click)="addLexia()">
                                <mat-chip-avatar>
                                    <mat-icon>short_text</mat-icon>
                                </mat-chip-avatar>
                                {{lexiaList.length}} ausgewählt ...
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                    <td class="last-row">
                        <button mat-button mat-icon-button type="button" color="accent" (click)="addLexia()">
                            <mat-icon>{{addOrEdit(lexiaList)}}</mat-icon>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">
                        <mat-checkbox formControlName="birthCheck" (change)="onChange($event, 'birth')">Birth Date</mat-checkbox>
                    </td>
                    <td formGroupName="birth" colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" formControlName="birthStartDate">
                                        <mat-hint align="start">Start Year</mat-hint>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" formControlName="birthEndDate">
                                        <mat-hint align="start">End Year</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">
                        <mat-checkbox formControlName="deathCheck" (change)="onChange($event, 'death')">Death Date</mat-checkbox>
                    </td>
                    <td formGroupName="death" colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" formControlName="deathStartDate">
                                        <mat-hint align="start">Start Year</mat-hint>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" formControlName="deathEndDate">
                                        <mat-hint align="start">End Year</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">
                        <mat-checkbox formControlName="flCheck" (change)="onChange($event, 'fl')">Active Date</mat-checkbox>
                    </td>
                    <td formGroupName="fl" colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" formControlName="flStartDate">
                                        <mat-hint align="start">Start Year</mat-hint>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" formControlName="flEndDate">
                                        <mat-hint align="start">End Year</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        </mat-dialog-content>

        <mat-dialog-actions>
            <button type="button" mat-button color="primary" (click)="cancel()">CANCEL</button>
            <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">{{getButtonText()}}</button>
        </mat-dialog-actions>
    </form>

    <ng-template #loading>
        Loading data ....
    </ng-template>

</div>
