.search-container {
  margin: 2rem 1rem;

  form {

    table {
      margin-bottom: 1rem;

      mat-form-field {
        width: 100%;
      }

      .min {
        width: 1%;

        mat-icon {
          margin-left: 0.5rem;
          color: rgb(150, 150, 150);
        }

        mat-icon:hover {
          cursor: pointer;
        }
      }
    }

    .mat-flat-button {
      //background-color: rgb(115, 71, 42);
      background-color: rgb(159, 11, 11);
      color: white;
    }
  }
}

//Form fields are smaller
//::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//  padding: 0.5em;
//}
//
//::ng-deep .mat-form-field-wrapper {
//  padding-bottom: 0;
//}
//
//::ng-deep .mat-form-field-infix {
//  border-top: 0;
//}
