<div fxLayout="row" fxLayoutGap="30px" style="margin: 2rem 1rem;" fxLayout.lt-md="column"
     fxLayoutAlign.gt-sm="start start">

    <mat-card fxFlex.gt-sm="350px">
        <mat-card-content>
            <mat-card-title>Search for</mat-card-title>
            <form [formGroup]="form" (ngSubmit)="search()" fxLayout="column">
                <mat-form-field>
                    <mat-label>Text</mat-label>
                    <input matInput formControlName="searchText">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Author</mat-label>
                    <input matInput formControlName="author">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Book Title</mat-label>
                    <input matInput formControlName="bookTitle">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Genre</mat-label>
                    <input matInput formControlName="genre">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Lexia</mat-label>
                    <input matInput formControlName="lexia" placeholder="Lexia">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date 1</mat-label>
                    <input matInput formControlName="dateStart" placeholder="1662" type="number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>(Optional) Date 2</mat-label>
                    <input matInput formControlName="dateEnd" placeholder="1668" type="number">
                </mat-form-field>

                <mat-slide-toggle [color]="'warn'">Only Plays</mat-slide-toggle>

                <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">Search</button>
            </form>
        </mat-card-content>
    </mat-card>

    <div *ngIf="passages" fxFlex="1 1 100%" fxLayout="column" fxLayoutGap="10px">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <div>{{passages.length}} Results found</div>
            <mat-form-field>
                <mat-label>Sort</mat-label>
                <mat-select>
                    <mat-option [value]="'Author'">Author</mat-option>
                    <mat-option [value]="'Book Title'">Book Title</mat-option>
                    <mat-option [value]="'Date'">Date</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-card *ngFor="let passage of passages; let i = index">
            <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
                <mat-card-subtitle>{{i+1}}</mat-card-subtitle>
                <div>
                    <mat-card-title>{{passage.occursIn.title}}</mat-card-title>
                    <mat-card-subtitle
                            *ngFor="let author of passage.occursIn.authors">{{author.firstName}} {{author.lastName}}</mat-card-subtitle>
                    <div [innerHTML]="passage.text"></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>chevron_right</mat-icon>
                    Show Details
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <!--    <div *ngIf="!passages" fxFlex="1 1 100%" fxLayout="column" fxLayoutGap="10px">-->
    <!--        <mat-card *ngFor="let passage of passages">-->
    <!--            <mat-card-content>-->
    <!--                <mat-card-title>{{passage.occursIn.title}}</mat-card-title>-->
    <!--                <mat-card-subtitle *ngFor="let author of passage.occursIn.authors">{{author.firstName}} {{author.lastName}}</mat-card-subtitle>-->
    <!--                <div>{{passage.text}}</div>-->
    <!--            </mat-card-content>-->
    <!--            <mat-card-actions>-->
    <!--                <button mat-button>-->
    <!--                    <mat-icon>chevron_right</mat-icon>Show Details-->
    <!--                </button>-->
    <!--            </mat-card-actions>-->
    <!--        </mat-card>-->
    <!--    </div>-->

</div>
