<div class="table-container">

    <div>
        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"
                   (keydown.escape)="clear()">
            <button *ngIf="value" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span>Anzahl Datensätze: {{rowCount()}}</span>
        <button mat-flat-button type="button" color="primary" [routerLink]="['/edition/new']">Edition hinzufügen
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <!--  <ng-container matColumnDef="id">-->
        <!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
        <!--    <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
        <!--  </ng-container>-->

        <!-- Name Column -->
        <ng-container matColumnDef="publicationInfo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Publication Info</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="pi"
                     (click)="pi.open()"> {{element.publicationInfo}} </div>
                <sat-popover #pi hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="pi.isOpen()" [value]="element.publicationInfo" [type]="'string'" (newValue)="updateProperty($event,'publicationInfo', element, pi)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="book">
            <th mat-header-cell *matHeaderCellDef>Buch</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" (click)="editBook(element)">
                    <div>{{element.book.title}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef>Sprache</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" (click)="editLanguage(element)">
                    <div>{{element.language.name}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reihenfolge</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="or" (click)="or.open()">{{element.order}}</div>
                <sat-popover #or hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="or.isOpen()" [value]="element.order" [type]="'number'" (newValue)="updateProperty($event,'order', element, or)"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <ng-container matColumnDef="references">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referenzen</th>
            <td mat-cell *matCellDef="let element">
                <div class="read-only-value">{{element.references}}</div>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-flat-button color="warn" [disabled]="element.references !== 0">Löschen
                </button>
                <!--      <button>Details</button>-->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
