<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="statuses | async as stat; else loading">
        <h2>{{getTitle()}}</h2>

        <mat-dialog-content>
            <table>
                <tr>
                    <td class="title-column">Text</td>
                    <td colspan="2">
                        <mat-form-field>
                            <textarea matInput formControlName="text" required></textarea>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Text hist.</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <textarea matInput formControlName="textHist"></textarea>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Page</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="page" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Page hist.</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="pageHist">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td class="title-column">Status</td>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <mat-select formControlName="status">
                                <mat-option *ngFor="let status of stat" [value]="status.id">{{status.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        </mat-dialog-content>

        <mat-dialog-actions>
            <button type="button" mat-button color="primary" (click)="cancel()">CANCEL</button>
            <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">{{getButtonText()}}</button>
        </mat-dialog-actions>
    </form>

    <ng-template #loading>
        Loading data ....
    </ng-template>

</div>
