.container {

    table {
        width: 100%;

        .title-column {
            width: 160px;
        }

        td {
            button {
                margin: 4px;
            }

            textarea {
                border: 1px solid lightgray;
            }

            mat-form-field {
                width: 100%;
            }
        }

        .reference {
            td {
                border-bottom: 1px solid lightgray;
                padding: 0.4rem 0;
            }

            .last-row {
                // width of last column with fab button
                width: 1rem;
            }
        }
    }

}
