<div class="table-container">

    <div>
        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"
                   (keydown.escape)="clear()">
            <button *ngIf="value" type="button" mat-button matSuffix mat-icon-button arial-label="Clear"
                    (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span>Anzahl Datensätze: {{rowCount()}}</span>
        <button mat-flat-button type="button" color="primary" (click)="openCreateGenre()">Genre hinzufügen</button>
    </div>

</div>


<div *ngIf="data">
    <treetable [tree]="data"></treetable>
</div>
