<div fxLayout="row" fxLayoutGap="30px" style="margin: 2rem;" fxLayout.lt-md="column">

    <form [formGroup]="form" (ngSubmit)="search()" fxLayout="column" fxFlex.gt-sm="350px">

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators1" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>Text</mat-label>
                <input matInput formControlName="searchText">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators2" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>Book title</mat-label>
                <input matInput formControlName="bookTitle">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators2" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators2" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>Genre</mat-label>
                <input matInput formControlName="genre">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators2" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>Lexia</mat-label>
                <input matInput formControlName="lexia">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators2" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>Created Date</mat-label>
                <input matInput formControlName="createdDateStart" placeholder="e.g. 1662" type="number">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <mat-form-field fxFlex="100px">
                <mat-select>
                    <mat-option *ngFor="let operator of operators2" [value]="operator.value">{{operator.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 100%">
                <mat-label>First Performed Date</mat-label>
                <input matInput formControlName="performedDateStart" placeholder="e.g. 1662" type="number">
            </mat-form-field>
        </div>

        <mat-slide-toggle [color]="'warn'">Only Plays</mat-slide-toggle>

        <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">Search</button>
    </form>
</div>
