<div class="search-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start" fxLayoutGap="30px">

    <mat-card fxFlex.gt-sm="400px">
        <mat-card-content>

            <form [formGroup]="form" (ngSubmit)="search()" fxLayout="column">

                <table>
                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compText">
                                    <mat-option *ngFor="let operator of operators1"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Text</mat-label>
                                <input matInput formControlName="text">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('text')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compBookTitle">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Title</mat-label>
                                <input matInput formControlName="bookTitle">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('bookTitle')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compAuthor">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Author</mat-label>
                                <input matInput formControlName="author">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('author')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compGender">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Gender</mat-label>
                                <input matInput formControlName="gender">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('gender')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compLexia">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Lexia</mat-label>
                                <input matInput formControlName="lexia">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('lexia')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compCreatedDate">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Date</mat-label>
                                <input matInput formControlName="createdDate" placeholder="1662 or 1662-1664" type="number">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('createdDate')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compMarking">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Marking</mat-label>
                                <input matInput formControlName="marking">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('marking')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compFunction">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Function</mat-label>
                                <input matInput formControlName="function">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('function')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compLanguage">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Language</mat-label>
                                <input matInput formControlName="language">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('language')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compPerformedCompany">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>First performance: Company</mat-label>
                                <input matInput formControlName="performedCompany">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('performedCompany')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compPerformedActor">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>First performance: Actor</mat-label>
                                <input matInput formControlName="performedActor">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('performedActor')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-60px">
                            <mat-form-field class="width-60px">
                                <mat-select formControlName="compGenre">
                                    <mat-option *ngFor="let operator of operators2"
                                                [value]="operator.value">{{operator.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="width-100">
                                <mat-label>Genre</mat-label>
                                <input matInput formControlName="genre">
                            </mat-form-field>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('genre')">help</mat-icon>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td class="width-100">
                            <mat-slide-toggle formControlName="plays" [color]="'warn'">
                                Only Plays
                            </mat-slide-toggle>
                        </td>
                        <td class="min">
                            <mat-icon matSuffix (click)="getHelpText('plays')">help</mat-icon>
                        </td>
                    </tr>

                </table>

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compText">-->
<!--                            <mat-option *ngFor="let operator of operators1"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Text</mat-label>-->
<!--                        <input matInput formControlName="text">-->
<!--                    </mat-form-field>-->
<!--                    <mat-icon matSuffix (click)="getHelpText('text')">help</mat-icon>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compBookTitle">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Title</mat-label>-->
<!--                        <input matInput formControlName="bookTitle">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compAuthor">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Author</mat-label>-->
<!--                        <input matInput formControlName="author">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compLexia">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Lexia</mat-label>-->
<!--                        <input matInput formControlName="lexia">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compCreatedDate">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Date</mat-label>-->
<!--                        <input matInput formControlName="createdDate" placeholder="1662 or 1662-1664" type="number">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compMarking">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Marking</mat-label>-->
<!--                        <input matInput formControlName="marking">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compFunction">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Function</mat-label>-->
<!--                        <input matInput formControlName="function">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compLanguage">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Language</mat-label>-->
<!--                        <input matInput formControlName="language">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compPerformedCompany">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>First performance: Company</mat-label>-->
<!--                        <input matInput formControlName="performedCompany">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compPerformedActor">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>First performance: Actor</mat-label>-->
<!--                        <input matInput formControlName="performedActor">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">-->
<!--                    <mat-form-field fxFlex="60px">-->
<!--                        <mat-select formControlName="compGenre">-->
<!--                            <mat-option *ngFor="let operator of operators2"-->
<!--                                        [value]="operator.value">{{operator.value}}</mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field fxFlex="1 1 100%">-->
<!--                        <mat-label>Genre</mat-label>-->
<!--                        <input matInput formControlName="genre">-->
<!--                    </mat-form-field>-->
<!--                </div>-->

<!--                <div class="toggle">-->
<!--                    <mat-slide-toggle formControlName="plays" [color]="'warn'">Only Plays</mat-slide-toggle>-->
<!--                </div>-->

                <!--    For a reference-->
                <!--                <div>-->
                <!--                    <div style="background-color: white; position: relative; display: inline-block; top: 0.5rem; left: 0.5rem; padding: 0 0.5rem; color: darkgray;">First Performed</div>-->
                <!--                </div>-->
                <!--                <div style="border: 1px solid lightgray;">-->
                <!--                    <div style="padding: 0.5rem;">-->
                <!--                        <button mat-button>Test</button>-->
                <!--                    </div>-->
                <!--                </div>-->

                <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">SEARCH</button>
            </form>
        </mat-card-content>
    </mat-card>

    <div fxFlex.gt-sm="500px">

        <div *ngIf="passages" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>{{passages.length}} Results</div>
                <mat-form-field>
                    <mat-label>Sort</mat-label>
                    <mat-select (selectionChange)="setOrder($event)">
                        <mat-option [value]="'Author'">Author</mat-option>
                        <mat-option [value]="'Title'">Title</mat-option>
                        <mat-option [value]="'Date'">Date</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-card *ngFor="let passage of passages; let i = index">
                <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
                    <div>
                        <span *ngFor="let author of passage.occursIn.authors; let last = last;">
                            {{author.firstName}} {{author.lastName}}<span *ngIf="!last">, </span>
                        </span>
                        <span>: {{passage.occursIn.title}} ({{passage.occursIn.createdStartDate}})</span>
                        <div [innerHTML]="passage.text"></div>
                    </div>
                    <mat-card-subtitle>[{{i + 1}}]</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>chevron_right</mat-icon>
                        Expand
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>

