<form [formGroup]="form" (ngSubmit)="create()">
  <h2>Neues Buch erstellen</h2>

  Normalisierter Titel:
  <mat-form-field>
    <input matInput type="text" formControlName="title" required>
  </mat-form-field>

  <div>

    <mat-chip-list>
      Autoren:
      <mat-chip *ngFor="let author of authorList">
        <mat-chip-avatar>
          <mat-icon>account_circle</mat-icon>
        </mat-chip-avatar>
        {{author.firstName}} {{author.lastName}}
      </mat-chip>

      <button mat-flat-button color="accent" (click)="addAuthor()">Bearbeiten</button>

    </mat-chip-list>

  </div>

  <div class="button-actions">
    <button mat-button type="button" color="primary" (click)="cancel()">ABBRECHEN</button>
    <button mat-flat-button type="submit" color="primary">ERSTELLEN</button>
  </div>
</form>
