<div style="margin: 4rem 4rem;">
<!--    <div fxFlex="5%" fxHide.lt-md="true"></div>-->
    <mat-tab-group>
        <mat-tab label="SEARCH">
            <app-simple-search></app-simple-search>
        </mat-tab>
        <mat-tab label="ADVANCED SEARCH">
            <app-advanced-search></app-advanced-search>
        </mat-tab>
        <mat-tab label="EXPERT SEARCH">
            <app-expert-search></app-expert-search>
        </mat-tab>
        <mat-tab label="BROWSING">
            <app-browsing></app-browsing>
        </mat-tab>
    </mat-tab-group>
<!--    <div fxFlex="5%" fxHide.lt-md="true"></div>-->
</div>
