.introduction {
  text-align: justify;
}

.search-boxes {
  //display: grid;
  //grid-template-columns: repeat(2, minmax(300px, 2fr));

  .search-box {
    //border: 1px solid red;
    padding: 2rem;
    text-align: center;
    background-color: rgb(115, 71, 42);
    color: white;
  }
}

nav {
  margin: 4rem 1rem 0;

  mat-form-field {
    width: 100%;
  }

  .simple-btn {
    //background-color: rgb(115, 71, 42);
    //background-color: rgb(159,11,11);
    //color: white;
  }


}
