<div fxLayout="column" fxLayoutGap="30px" style="margin: 4rem 1rem;">
    <div class="introduction">
        <div>This is the WordWeb</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec quam eu ipsum placerat vestibulum. Vestibulum eleifend posuere elit, at eleifend est efficitur nec. Donec mollis lectus vitae erat vulputate, vel rhoncus urna rhoncus. Integer rutrum id lorem a vulputate. Aenean vel libero in elit luctus rutrum sed ac nulla.
    </div>
    <div class="search-boxes" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div class="row row-1" fxLayout="column" fxFlex fxLayoutGap="10px">
            <div class="search-box" (click)="simple()">
                Simple Search
            </div>
            <div class="search-box" (click)="advanced()">
                Advanced Search
            </div>
        </div>
        <div class="row row-2" fxLayout="column" fxFlex fxLayoutGap="10px">
            <div class="search-box" (click)="expert()">
                Expert Search
            </div>
            <div class="search-box" (click)="browse()">
                Browse
            </div>
        </div>
    </div>
</div>
