<div class="table-container">

    <div>
        <mat-form-field>
            <input [(ngModel)]="value" matInput (input)="applyFilter($event.target.value)" placeholder="Filter"
                   (keydown.escape)="clear()">
            <button *ngIf="value" mat-button matSuffix mat-icon-button arial-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span>Anzahl Datensätze: {{rowCount()}}</span>
        <button mat-flat-button type="button" color="primary" [routerLink]="['/passage/new']">Passage hinzufügen
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <!--  <ng-container matColumnDef="id">-->
        <!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
        <!--    <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
        <!--  </ng-container>-->

        <!-- Name Column -->
        <ng-container matColumnDef="edition">
            <th mat-header-cell *matHeaderCellDef>Edition</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" (click)="editEdition([element.edition])">
                    <div>{{element.edition.publicationInfo}}</div>
                </div>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="tx" (click)="tx.open()">{{element.text}}</div>
                <sat-popover #tx hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="tx.isOpen()" [value]="element.text" [type]="'string'"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reihenfolge</th>
            <td mat-cell *matCellDef="let element">
                <div class="edit-value" [satPopoverAnchorFor]="or" (click)="or.open()">{{element.order}}</div>
                <sat-popover #or hasBackdrop xAlign="start" yAlign="start">
                    <app-inline-edit *ngIf="or.isOpen()" [value]="element.order" [type]="'number'"></app-inline-edit>
                </sat-popover>
            </td>
        </ng-container>

        <ng-container matColumnDef="references">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referenzen</th>
            <td mat-cell *matCellDef="let element">
                <div class="read-only-value">{{element.references}}</div>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-flat-button color="warn" [disabled]="element.references !== 0">Löschen</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
